@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font: 'Chivo', sans-serif;

    --bg: #F2F2F2;
    --bg-dark: #40200E;
    --surface: #FFFFFF;

    --primary: #D98452;
    --primary-light: #F2AB6D;
    --secondary: #F2BC8D;

    --text: #40200E;
    --text-light: #F2F2F2;
    --text-muted: #765746;
    --text-dark: #40200E;

    --border: #D9C8BC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--text);
}
